<?php
require_once('../include/session.php');
require_once('../include/check.php');
require_once('../config/config.php');
require_once('../include/userdetail.php');
require('fpdf.php');
define('FPDF_FONTPATH','font/');

class PDF extends FPDF
{
var $B;
var $I;
var $U;
var $HREF;

function PDF($orientation='P', $unit='mm', $size='A4')
{
    // Call parent constructor
    $this->FPDF($orientation,$unit,$size);
    // Initialization
    $this->B = 0;
    $this->I = 0;
    $this->U = 0;
    $this->HREF = '';
}

function WriteHTML($html)
{
    // HTML parser
    $html = str_replace("\n",' ',$html);
    $a = preg_split('/<(.*)>/U',$html,-1,PREG_SPLIT_DELIM_CAPTURE);
    foreach($a as $i=>$e)
    {
        if($i%2==0)
        {
            // Text
            if($this->HREF)
                $this->PutLink($this->HREF,$e);
            else
                $this->Write(5,$e);
        }
        else
        {
            // Tag
            if($e[0]=='/')
                $this->CloseTag(strtoupper(substr($e,1)));
            else
            {
                // Extract attributes
                $a2 = explode(' ',$e);
                $tag = strtoupper(array_shift($a2));
                $attr = array();
                foreach($a2 as $v)
                {
                    if(preg_match('/([^=]*)=["\']?([^"\']*)/',$v,$a3))
                        $attr[strtoupper($a3[1])] = $a3[2];
                }
                $this->OpenTag($tag,$attr);
            }
        }
    }
}

function OpenTag($tag, $attr)
{
    // Opening tag
    if($tag=='B' || $tag=='I' || $tag=='U')
        $this->SetStyle($tag,true);
    if($tag=='A')
        $this->HREF = $attr['HREF'];
    if($tag=='BR')
        $this->Ln(5);
}

function CloseTag($tag)
{
    // Closing tag
    if($tag=='B' || $tag=='I' || $tag=='U')
        $this->SetStyle($tag,false);
    if($tag=='A')
        $this->HREF = '';
}

function SetStyle($tag, $enable)
{
    // Modify style and select corresponding font
    $this->$tag += ($enable ? 1 : -1);
    $style = '';
    foreach(array('B', 'I', 'U') as $s)
    {
        if($this->$s>0)
            $style .= $s;
    }
    $this->SetFont('',$style);
}

function PutLink($URL, $txt)
{
    // Put a hyperlink
    $this->SetTextColor(0,0,255);
    $this->SetStyle('U',true);
    $this->Write(5,$txt,$URL);
    $this->SetStyle('U',false);
    $this->SetTextColor(0);
}
}




// First page

$html = 	'    
	
<div class="row-fluid">
<div class="widget  span12 clearfix">
                            
                                <div class="widget-header">
                                    <span><i class="icon-home"></i><h4 align="center">(Part -1 Academic Performance:Scholastic Areas)</h4> </span>
                                </div><!-- End widget-header -->	
                                
                                <div class="widget-content">
								
								
								
									<!-- Table widget -->
                           
                              
								<table  class="table table-bordered table-striped" border="1">
                                        <thead align="center">
										  <tr>
                                               
												<th rowspan="2">SUBJECT</th>
                                                
										        <th colspan="2">FAI - 1</th>
												<th colspan="2">FAI - 2</th>
												<th colspan="3">SAI - 1</th>
												<th colspan="2">TOTAL<br/>(FA-1+2+SA-1)</th>
												<th colspan="2">FAI - 3</th>
												<th colspan="2">FAI - 4</th>
												<th colspan="3">SAI - 2</th>
												<th colspan="2">TOTAL<br/>(FA-3+4+SA-2)</th>
												
												<th colspan="0">GRAND TOTAL<br/>TERM I + II</th>
												<th colspan="0">OVER ALL GRADE</th>
											</tr>
											
											  
											     <tr>
												      <th>Marks</th>
												      <th>GR.</th>
													  <th>Marks</th>
													  <th>GR.</th>
													  <th>Marks</th>
													  <th>Marks</th>
												      <th>GR.</th>
													   <th>Marks</th>
													   <th>GR.</th>
													   <th>Marks</th>
												       <th>GR.</th>
													   <th>Marks</th>
													   <th>GR.</th>
													   <th>Marks</th>
													   <th>Marks</th>
													   <th>GR.</th>
													   <th>Marks</th>
													   <th>GR.</th>
													    <th></th>
														<th></th>
												  </tr>
												  
										
									
                                        </thead>';
										    $marks_fa=array();
										    $marks_sa=array();
											$sid=array();
											$marks;
										   $get_subject = "
											SELECT subject ,subject_id
											FROM subject
											";
											$exe_subject = mysql_query($get_subject);
											 $j=0;
											while($fetch_subject = mysql_fetch_array($exe_subject))
											{
												//use of variable
												 $sum1 =0;
									  			 $sum2 =0;
									  			 $total = 0;
												 '
										      <tr>
											     <td>'.$fetch_subject['subject'].'</td>';
												
												 $get_scho_id = 
												  "SELECT scho_id
												  FROM scho_fields";
												  $exe_scho_id=mysql_query($get_scho_id);
												   
												  while($fetch_scho_id=mysql_fetch_array($exe_scho_id))
												  {
												  $scho_id = $fetch_scho_id[0];
														
										
												 //query to get student marks
												    $get_student_marks = "
													SELECT SUM(scho_marks.marks) AS total ,scho_marks.subject_id ,scho_marks.student_id ,scho_marks.scho_id
													FROM scho_marks
													INNER JOIN subject
													ON  subject.subject_id = scho_marks.subject_id
													WHERE student_id = ".$_GET['student_id']."
													AND scho_marks.subject_id = ".$fetch_subject['subject_id']."
													AND scho_id = ".$scho_id."
												  
													";
													
													$exe_stu_marks=mysql_query($get_student_marks);
													$fetch_stu_marks=mysql_fetch_array($exe_stu_marks);
													
												 '
												 			
																
														';
													             
															 
															 if($scho_id ==3)
															 ' <td>'.$fetch_stu_marks[0].'</td>';
															  if($scho_id ==6)
															 ' <td>'.$fetch_stu_marks[0].'</td>';
															 '
															      <td>
																  ';
																  if(($scho_id == 1)||($scho_id == 2)||($scho_id == 4)||($scho_id == 5))
																  {
																	$marks = $fetch_stu_marks[0] * 0.1 ;
																	$marks ;
																	
																	 
																  }
																    if(($scho_id == 3)||($scho_id == 6))
																  {
																	  
																	  $marks = $fetch_stu_marks[0] * 0.3;
																	$marks;
																	
																  }
																  '
																  </td>';
																  //grade for FA1,FA2,FA3,FA4,SA1,SA2
																  $grade1 = 0;
																   if(($marks>90) && ($marks<=100))
																   {
																	   $grade1 = 10;
																	   $g ='A1' ;
																   }
																   if(($marks>80) && ($marks<=90))
																   {
																	   $grade1 = 9;
																	   $g ='A2' ;
																   }
																   if(($marks>70) && ($marks<=80))
																   {
																	   $grade1 = 8;
																	   $g ='B1' ;
																   }
																   if(($marks>60) && ($marks<=70))
																   {
																	   $grade1= 7;
																	   $g ='B2' ;
																   }
																   if(($marks>50) && ($marks<=60))
																   {
																	   $grade1 = 6;
																	   $g ='C1' ;
																   }
																   if(($marks>40) && ($marks<=50))
																   {
																	   $grade1 = 5;
																	   $g ='C2' ;
																   }
																   if(($marks>32) && ($marks<=40))
																   {
																	  $grade1 = 4;
																	  $g ='D' ;
																   }
																	if(($marks>20) && ($marks<=32))
																   {
																	   $grade1 = 3;
																	   $g ='E1' ;
																   }
																	if(($marks>=0) && ($marks<=20))
																   {
																	   $grade1 = 2;
																	   $g ='E2' ;
																   }
																  
																  '
																  
																	<td id="'.$scho_id.'">'.$g.'</td>  
																	
																';
																 
															
																if(($scho_id == 1)||($scho_id == 2)||($scho_id == 3))
																  {
																	  $sum1 = $sum1+$marks; 
																
																	 
																  }
																  	if(($scho_id == 4)||($scho_id == 5)||($scho_id == 6))
																  {
																	  $sum2 = $sum2+$marks; 
																
																	 
																  }
																	  
																	
																if($scho_id == 3)
															{
																'<td>'.$sum1.'</td>';
																   
																   
																   //calculate grade for FA1,FA2,SA1
																   
																   
																   $grade1_sum1 = 0;
																   
																   if(($sum1>90) && ($sum1<=100))
																   {
																	  $grade1_sum1 = 10;
																	  $grade_s1 = 'A1';
																   }
																   if(($sum1>80) && ($sum1<=90))
																   {
																	   $grade1_sum1 = 9;
																	   $grade_s1 = 'A2';
																   }
																   if(($sum1>70) && ($sum1<=80))
																   {
																	   $grade1_sum1 = 8;
																	   $grade_s1 = 'B1';
																   }
																   if(($sum1>60) && ($sum1<=70))
																   {
																	  $grade1_sum1= 7;
																	  $grade_s1 = 'B2';
																   }
																   if(($sum1>50) && ($sum1<=60))
																   {
																	   $grade1_sum1 = 6;
																	   $grade_s1 = 'C1';
																   }
																   if(($sum1>40) && ($sum1<=50))
																   {
																	   $grade1_sum1 = 5;
																	   $grade_s1 = 'C2';
																   }
																   if(($sum1>30) && ($sum1<=40))
																   {
																	 $grade1_sum1 = 4;
																	 $grade_s1 = 'D';
																   }
																	if(($sum1>20) && ($sum1<=30))
																   {
																	   $grade1_sum1 = 3;
																	   $grade_s1 = 'E1';
																   }
																	if(($sum1>=0) && ($sum1<=20))
																   {
																	   $grade1_sum1 = 2;
																	   $grade_s1 = 'E2';
																   }
																   
															'	<td>'.$grade_s1.'</td>';
															}
															 //calculate Grade for FA3,FA4,SA2
																    $grade2_sum2 = 0;
																   if(($sum2>90) && ($sum2<=100))
																   {
																	  $grade2_sum2 = 10;
																	  $grade2_s2 = 'A1';
																   }
																   if(($sum2>80) && ($sum2<=90))
																   {
																	   $grade2_sum2 = 9;
																	   $grade2_s2 = 'A2';
																   }
																   if(($sum2>70) && ($sum2<=80))
																   {
																	   $grade2_sum2 = 8;
																	   $grade2_s2 = 'B1';
																   }
																   if(($sum2>60) && ($sum2<=70))
																   {
																	  $grade2_sum2= 7;
																	  $grade2_s2 = 'B2';
																   }
																   if(($sum2>50) && ($sum2<=60))
																   {
																	   $grade2_sum2 = 6;
																	   $grade2_s2 = 'C1';
																   }
																   if(($sum2>40) && ($sum2<=50))
																   {
																	   $grade2_sum2 = 5;
																	   $grade2_s2 = 'C2';
																   }
																   if(($sum2>30) && ($sum2<=40))
																   {
																	 $grade2_sum2 = 4;
																	 $grade2_s2 = 'D';
																   }
																	if(($sum2>20) && ($sum2<=30))
																   {
																	   $grade2_sum2 = 3;
																	   $grade2_s2 = 'E1';
																   }
																	if(($sum2>=0) && ($sum2<=20))
																   {
																	   $grade2_sum2 = 2;
																	   $grade2_s2 = 'E2';
																   }	
																			  
												  }//fetch marks while loop end
												  
												       $total_sum = $sum1 + $sum2;
													   $grade = 0;
													   if(($total_sum>90) && ($total_sum<=100))
													   {
														   $grade = 10;
														   $grade_total = 'A1';
													   }
													   if(($total_sum>80) && ($total_sum<=90))
													   {
														   $grade = 9;
														    $grade_total = 'A2';
													   }
													   if(($total_sum>70) && ($total_sum<=80))
													   {
														   $grade = 8;
														    $grade_total = 'B1';
													   }
													   if(($total_sum>60) && ($total_sum<=70))
													   {
														   $grade = 7;
														    $grade_total = 'B2';
													   }
													   if(($total_sum>50) && ($total_sum<=60))
													   {
														   $grade = 6;
														    $grade_total = 'C1';
													   }
													   if(($total_sum>40) && ($total_sum<=50))
													   {
														   $grade = 5;
														    $grade_total = 'C2';
													   }
													   if(($total_sum>32) && ($total_sum<=40))
													   {
														   $grade = 4;
														    $grade_total = 'D';
													   }
													    if(($total_sum>20) && ($total_sum<=32))
													   {
														   $grade = 3;
														    $grade_total = 'E1';
													   }
													    if(($total_sum>=0) && ($total_sum<=20))
													   {
														   $grade = 2;
														    $grade_total = 'E2';
													   }
													   
													
													'
													 <td>'.$sum2.'</td>
													 <td>'.$grade2_s2.'</td>
													 
													 
													
													 <td>'.$total_sum.'</td>
													 <td>'.$grade_total.'</td> 
											 </tr>';
									    	
								}//fetch subject while loop  end
'
                                        <tbody align="center">';
									
                                       ' </tbody>
                                    </table>
                                              
								';
								
								'
								
								</div>
								</div>
								</div>
								
<div class="row-fluid">
<div class="widget  span12 clearfix">
                            
                                <div class="widget-header">
                                    <span><i class="icon-home"></i><h4 align="center">(Part-2 : Co-scholastic Areas)</h4></span>
                                </div><!-- End widget-header -->	
                                
                                <div class="widget-content">
								<div style="width:100%">

';





// get group name of co. scholastic



$get_co_scho_group = "
SELECT *
FROM coscho_fields
 ";
 $exe_co_scho_group = mysql_query($get_co_scho_group);
 
 while($fetch_co_scho_group = mysql_fetch_array($exe_co_scho_group))
 {
	 if($fetch_co_scho_group['coscho_id'] == 1)
	 {
 '
 <div style="width:25%;float:left"> ';
 
 
// query to fetch the marks & descriptive indicator of student.

$get_dsc_marks = "
SELECT coscho_id,co_scho_name
FROM coscho_fields
WHERE area_id = ".$fetch_co_scho_group['coscho_id']." 
";
$exe_dsc_marks =mysql_query($get_dsc_marks);
 

'

<table border="1" cellpadding="" cellspacing="0">
    <thead>
	';
	
	'
	       <tr>
		        <th>2.(A) LIFE SKILLS</th>
			    <th>DESCRIPTIVE INDICATOR</th>
			    <th>GRADE</th>
		  </tr>
    </thead>
	<tbody>';
	while($fetch_dsc_marks = mysql_fetch_array($exe_dsc_marks))
	{
		//get all the descriptive indicators
		$get_desc = 
		"SELECT desc_name
		FROM dsc_indicator_coscho
		WHERE co_scho_id = ".$fetch_dsc_marks[0]."
		";
		$exe_desc_names=mysql_query($get_desc);
		
	' 
		  <tr>
			  <td>'.$fetch_dsc_marks[1].'</td>
			  <td>';
			  while($fetch_desc_name = mysql_fetch_array($exe_desc_names))
			  {
		$fetch_desc_name['desc_name'].",<br>";
		
			  }
		'
		</td>
			  ';
		$get_sum=
	  "SELECT SUM(marks),COUNT(ID)
	  FROM coscho_marks
	  WHERE area_id =".$fetch_co_scho_group['coscho_id']."
	  AND student_id = ".$_GET['student_id']."
	  AND co_scho_id = ".$fetch_dsc_marks[0]."
	  AND session_id = ".$_SESSION['current_session_id']."";
	  $exe_sum_count = mysql_query($get_sum);
	  $fetch_sum_count=mysql_fetch_array($exe_sum_count);
	  
	 if($fetch_sum_count[0] == "")
	 {
		$g = "NA"; 
	 }
			
			else
			{							
			 $sum = $fetch_sum_count[0];
	         $count = $fetch_sum_count[1]; 
			  $marks = $sum/$count;
			  if($marks > 4 && $marks <=5)
			  {
				  $g = 'A';
			  }
			   if($marks > 3 && $marks <=4)
			  {
				  $g = 'B';
			  }
			   if($marks > 2 && $marks <=3)
			  {
				  $g = 'C';
			  }
			   if($marks > 1 && $marks <=2)
			  {
				  $g = 'D';
			  }
			   if($marks > 0 && $marks <=1)
			  {
				  $g = 'E';
			  }
			}
			  '
			  <td>'.$g.'</td>
		  </tr>
		  ';
   }
	
	'</tbody>
</table>

</div>';
}
 if($fetch_co_scho_group['coscho_id'] == 2)
	 {
 '
 <div style="width:25%;float:left"> ';
 
 
// query to fetch the marks & descriptive indicator of student.
 
$get_dsc_marks = "
SELECT desc_name
FROM dsc_indicator_coscho
WHERE area_id = ".$fetch_co_scho_group['coscho_id']." 
";
$exe_dsc_marks =mysql_query($get_dsc_marks);
 

'

<table border="1" cellpadding="0" cellspacing="0">
    <thead>
	';
	
	'
	       <tr>
		        <th>2.(B) WORK EDUCATION DESCRIPTIVE<br/> INDICATOR</th>
			   
			    <th>GRADE</th>
		  </tr>
    </thead>
	<tbody><tr><td>';
	while($fetch_dsc_marks = mysql_fetch_array($exe_dsc_marks))
	{
	' 
		  ';
			  $fetch_dsc_marks['desc_name'].",<br>";
			 
			  
			  
		 
   }
	
	'</td> ';
		$get_sum=
	  "SELECT SUM(marks),COUNT(ID)
	  FROM coscho_marks
	  WHERE area_id =".$fetch_co_scho_group['coscho_id']."
	  AND student_id = ".$_GET['student_id']."
	  AND co_scho_id = ".$fetch_co_scho_group['coscho_id']."
	  AND session_id = ".$_SESSION['current_session_id']."";
	  $exe_sum_count = mysql_query($get_sum);
	  $fetch_sum_count=mysql_fetch_array($exe_sum_count);
	  
	 if($fetch_sum_count[0] == "")
	 {
		$g = "NA"; 
	 }
			
			else
			{							
			 $sum = $fetch_sum_count[0];
	         $count = $fetch_sum_count[1]; 
			  $marks = $sum/$count;
			  if($marks > 4 && $marks <=5)
			  {
				  $g = 'A';
			  }
			   if($marks > 3 && $marks <=4)
			  {
				  $g = 'B';
			  }
			   if($marks > 2 && $marks <=3)
			  {
				  $g = 'C';
			  }
			   if($marks > 1 && $marks <=2)
			  {
				  $g = 'D';
			  }
			   if($marks > 0 && $marks <=1)
			  {
				  $g = 'E';
			  }
			}
			  '
			  <td>'.$g.'</td></tr></tbody>
</table>

';
}
 if($fetch_co_scho_group['coscho_id'] == 3)
	 {
 '
 ';
 
 
// query to fetch the marks & descriptive indicator of student.
 
$get_dsc_marks = "
SELECT desc_name
FROM dsc_indicator_coscho
WHERE area_id = ".$fetch_co_scho_group['coscho_id']." 
";
$exe_dsc_marks =mysql_query($get_dsc_marks);
 

'

<table border="1" cellpadding="8" cellspacing="0">
    <thead>
	';
	
	'
	       <tr>
		        <th>2(C)visual and Performing Arts &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
			   
			    <th>GRADE</th>
		  </tr>
    </thead>
	<tbody><tr><td>';
	while($fetch_dsc_marks = mysql_fetch_array($exe_dsc_marks))
	{
	' 
		  ';
			  $fetch_dsc_marks['desc_name'].",<br>";
			 
			  
			  
		 
   }
	
	'</td> ';
		$get_sum=
	  "SELECT SUM(marks),COUNT(ID)
	  FROM coscho_marks
	  WHERE area_id =".$fetch_co_scho_group['coscho_id']."
	  AND student_id = ".$_GET['student_id']."
	  AND co_scho_id = ".$fetch_co_scho_group['coscho_id']."
	  AND session_id = ".$_SESSION['current_session_id']."";
	  $exe_sum_count = mysql_query($get_sum);
	  $fetch_sum_count=mysql_fetch_array($exe_sum_count);
	  
	 if($fetch_sum_count[0] == "")
	 {
		$g = "NA"; 
	 }
			
			else
			{							
			 $sum = $fetch_sum_count[0];
	         $count = $fetch_sum_count[1]; 
			  $marks = $sum/$count;
			  if($marks > 4 && $marks <=5)
			  {
				  $g = 'A';
			  }
			   if($marks > 3 && $marks <=4)
			  {
				  $g = 'B';
			  }
			   if($marks > 2 && $marks <=3)
			  {
				  $g = 'C';
			  }
			   if($marks > 1 && $marks <=2)
			  {
				  $g = 'D';
			  }
			   if($marks > 0 && $marks <=1)
			  {
				  $g = 'E';
			  }
			}
			  '
			  <td>'.$g.'</td></tr></tbody>
</table>

</div>';
}
if($fetch_co_scho_group['coscho_id'] == 4)
	 {
 '
 <div style="width:25%;float:left"> ';
 
 
// query to fetch the marks & descriptive indicator of student.
 $get_dsc_marks = "
SELECT coscho_id,co_scho_name
FROM coscho_fields
WHERE area_id = ".$fetch_co_scho_group['coscho_id']." 
";
$exe_dsc_marks =mysql_query($get_dsc_marks);
 

'

<table border="1" cellpadding="" cellspacing="0">
    <thead>
	';
	
	'
	       <tr>
		        <th>2.(D) Attitude and values</th>
			    <th>DESCRIPTIVE INDICATOR</th>
			    <th>GRADE</th>
		  </tr>
    </thead>
	<tbody>';
	while($fetch_dsc_marks = mysql_fetch_array($exe_dsc_marks))
	{
		//get all the descriptive indicators
		$get_desc = 
		"SELECT desc_name
		FROM dsc_indicator_coscho
		WHERE co_scho_id = ".$fetch_dsc_marks[0]."
		";
		$exe_desc_names=mysql_query($get_desc);
		
	' 
		  <tr>
			  <td>'.$fetch_dsc_marks[1].'</td>
			  <td>';
			  while($fetch_desc_name = mysql_fetch_array($exe_desc_names))
			  {
		$fetch_desc_name['desc_name'].",<br>";
		
			  }
		'
		</td>
			  ';
		$get_sum=
	  "SELECT SUM(marks),COUNT(ID)
	  FROM coscho_marks
	  WHERE area_id =".$fetch_co_scho_group['coscho_id']."
	  AND student_id = ".$_GET['student_id']."
	  AND co_scho_id = ".$fetch_dsc_marks[0]."
	  AND session_id = ".$_SESSION['current_session_id']."";
	  $exe_sum_count = mysql_query($get_sum);
	  $fetch_sum_count=mysql_fetch_array($exe_sum_count);
	  
	 if($fetch_sum_count[0] == "")
	 {
		$g = "NA"; 
	 }
			
			else
			{							
			 $sum = $fetch_sum_count[0];
	         $count = $fetch_sum_count[1]; 
			  $marks = $sum/$count;
			  if($marks > 4 && $marks <=5)
			  {
				  $g = 'A';
			  }
			   if($marks > 3 && $marks <=4)
			  {
				  $g = 'B';
			  }
			   if($marks > 2 && $marks <=3)
			  {
				  $g = 'C';
			  }
			   if($marks > 1 && $marks <=2)
			  {
				  $g = 'D';
			  }
			   if($marks > 0 && $marks <=1)
			  {
				  $g = 'E';
			  }
			}
			  '
			  <td>'.$g.'</td>
		  </tr>
		  ';
   }
	
	'</tbody>
</table>

</div>';
}
if($fetch_co_scho_group['coscho_id'] == 5)
	 {
 '
 <div style="width:25%;float:left"> ';
 
 
// query to fetch the marks & descriptive indicator of student.
 $get_dsc_marks = "
SELECT coscho_id,co_scho_name
FROM coscho_fields
WHERE area_id = ".$fetch_co_scho_group['coscho_id']." 
";
$exe_dsc_marks =mysql_query($get_dsc_marks);
 

'

<table border="1" cellpadding="" cellspacing="0">
    <thead>
	';
	
	'
	       <tr>
		        <th>3.(A) Co-scholastic activities</th>
			    <th>DESCRIPTIVE INDICATOR</th>
			    <th>GRADE</th>
		  </tr>
    </thead>
	<tbody>';
	while($fetch_dsc_marks = mysql_fetch_array($exe_dsc_marks))
	{
		//get all the descriptive indicators
		$get_desc = 
		"SELECT desc_name
		FROM dsc_indicator_coscho
		WHERE co_scho_id = ".$fetch_dsc_marks[0]."
		";
		$exe_desc_names=mysql_query($get_desc);
		
	' 
		  <tr>
			  <td>'.$fetch_dsc_marks[1].'</td>
			  <td>';
			  while($fetch_desc_name = mysql_fetch_array($exe_desc_names))
			  {
		$fetch_desc_name['desc_name'].",<br>";
		
			  }
		'
		</td>
			  ';
		$get_sum=
	  "SELECT SUM(marks),COUNT(ID)
	  FROM coscho_marks
	  WHERE area_id =".$fetch_co_scho_group['coscho_id']."
	  AND student_id = ".$_GET['student_id']."
	  AND co_scho_id = ".$fetch_dsc_marks[0]."
	  AND session_id = ".$_SESSION['current_session_id']."";
	  $exe_sum_count = mysql_query($get_sum);
	  $fetch_sum_count=mysql_fetch_array($exe_sum_count);
	  
	 if($fetch_sum_count[0] == "")
	 {
		$g = "NA"; 
	 }
			
			else
			{							
			 $sum = $fetch_sum_count[0];
	         $count = $fetch_sum_count[1]; 
			  $marks = $sum/$count;
			  if($marks > 4 && $marks <=5)
			  {
				  $g = 'A';
			  }
			   if($marks > 3 && $marks <=4)
			  {
				  $g = 'B';
			  }
			   if($marks > 2 && $marks <=3)
			  {
				  $g = 'C';
			  }
			   if($marks > 1 && $marks <=2)
			  {
				  $g = 'D';
			  }
			   if($marks > 0 && $marks <=1)
			  {
				  $g = 'E';
			  }
			}
			  '
			  <td>'.$g.'</td>
		  </tr>
		  ';
   }
	
	'</tbody>
</table>

';
}
if($fetch_co_scho_group['coscho_id'] == 6)
	 {
 '
 ';
 
 
// query to fetch the marks & descriptive indicator of student.
 
$get_dsc_marks = "
SELECT coscho_id,co_scho_name
FROM coscho_fields
WHERE area_id = ".$fetch_co_scho_group['coscho_id']." 
";
$exe_dsc_marks =mysql_query($get_dsc_marks);
 

'

<table border="1" cellpadding="" cellspacing="0">
    <thead>
	';
	
	'
	       <tr>
		        <th>3.(B) Health & physical activities</th>
			    <th>DESCRIPTIVE INDICATOR</th>
			    <th>GRADE</th>
		  </tr>
    </thead>
	<tbody>';
	while($fetch_dsc_marks = mysql_fetch_array($exe_dsc_marks))
	{
		//get all the descriptive indicators
		$get_desc = 
		"SELECT desc_name
		FROM dsc_indicator_coscho
		WHERE co_scho_id = ".$fetch_dsc_marks[0]."
		";
		$exe_desc_names=mysql_query($get_desc);
		
	' 
		  <tr>
			  <td>'.$fetch_dsc_marks[1].'</td>
			  <td>';
			  while($fetch_desc_name = mysql_fetch_array($exe_desc_names))
			  {
		$fetch_desc_name['desc_name'].",<br>";
		
			  }
		'
		</td>
			  ';
		$get_sum=
	  "SELECT SUM(marks),COUNT(ID)
	  FROM coscho_marks
	  WHERE area_id =".$fetch_co_scho_group['coscho_id']."
	  AND student_id = ".$_GET['student_id']."
	  AND co_scho_id = ".$fetch_dsc_marks[0]."
	  AND session_id = ".$_SESSION['current_session_id']."";
	  $exe_sum_count = mysql_query($get_sum);
	  $fetch_sum_count=mysql_fetch_array($exe_sum_count);
	  
	 if($fetch_sum_count[0] == "")
	 {
		$g = "NA"; 
	 }
			
			else
			{							
			 $sum = $fetch_sum_count[0];
	         $count = $fetch_sum_count[1]; 
			  $marks = $sum/$count;
			  if($marks > 4 && $marks <=5)
			  {
				  $g = 'A';
			  }
			   if($marks > 3 && $marks <=4)
			  {
				  $g = 'B';
			  }
			   if($marks > 2 && $marks <=3)
			  {
				  $g = 'C';
			  }
			   if($marks > 1 && $marks <=2)
			  {
				  $g = 'D';
			  }
			   if($marks > 0 && $marks <=1)
			  {
				  $g = 'E';
			  }
			}
			  '
			  <td>'.$g.'</td>
		  </tr>
		  ';
   }
	
	'</tbody>
</table>
';
'
</div>
</div>
</div>
</div>';
	 }
 }
 $pdf = new PDF();
$pdf->SetFont('Arial','',20);
$pdf->Write(5,"To find out what's new in this tutorial, click ");
$pdf->SetFont('','U');
$link = $pdf->AddLink();
$pdf->Write(5,'here',$link);
$pdf->SetFont('');
// Second page
$pdf->AddPage();
$pdf->SetLink($link);

$pdf->SetLeftMargin(45);
$pdf->SetFontSize(14);
$pdf->WriteHTML($html);
$pdf->Output();
?>